TERMUX

Update the Termux environment and install core utilities.

 pkg update && pkg upgrade -y pkg install python python-pip libjpeg-turbo play-audio -y 

 # 2. Install the exact network discovery and QR generating libraries

 pip install zeroconf qrcode pillow --break-system-packages 

---------------------------------------

KALI

Update kali and install core utilities.

 apt update && apt upgrade -y apt install python python-pip libjpeg-turbo play-audio -y 

 # 2. Install the exact network discovery and QR generating libraries

 pip install zeroconf qrcode pillow --break-system-packages 